body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}

.img-slide {
    width: 70%;
    height: 70vh;
    display: flex;
}

.img {
    flex: 1;
    height: 100%;
    transform: skew(5deg);
    cursor: pointer;
    margin: 0 2px;
    transition: all 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img1 {
    background-image: url('https://i.pinimg.com/originals/e6/2f/9e/e62f9e9d505c3f1ab7d7ee4041f6f36b.jpg');
}

.img2 {
    background-image: url('https://i.pinimg.com/originals/be/ad/53/bead53c24f77c8c0fa340f8525e49457.jpg');
}

.img3 {
    background-image: url('https://wallpapersfull.com/wallpapers/2019/filme-death-note-wallpaper-22526.jpg');
}

.img4 {
    background-image: url('https://sistematicas.files.wordpress.com/2012/03/rio__filme_animado_.jpg');
}



.img p {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: rotate(-90deg);
    transition: all 0.5s;
    transform-origin: 0% 0%;
    color: #FFF;
    text-transform: uppercase;
    white-space: nowrap;
}

.img-slide:hover .img {
    transform: skew(0);
}

.img:hover {
    flex: 5;
}

.img:hover p {
    background-color: transparent;
    border: 2px solid #FFF;
    transform: rotate(0deg);
}